<div class="box">

    
    <div class="media-content">
      <div class="content">
        <p>
          <strong><%= comment.author.name %></strong>
          <div><%= comment.response %></div>
        </p>
      </div>
    </div>
    <% if (author_signed_in? && (current_author.id == comment.author_id)) %>
       <%= link_to 'Delete', [comment.post, comment], method: :delete, class: "button is-danger", data: { confirm: 'Are you sure?' } %>
    <% end %>
 
</div>